/algorithm_dev/.vs
/algorithm_dev/__pycache__
/algorithm_dev/control/.ipynb_checkpoints
/algorithm_dev/control/__pycache__
algorithm_dev/LUCID_TRI032S-M_251700592__20251114112116359_video3.avi
/algorithm_dev/vision/.ipynb_checkpoints
/algorithm_dev/vision/__pycache__
algorithm_dev/vision/LUCID_TRI032S-M_251700592__20251114112116359_video3.avi
/calibrations/.vs
/testing/.vs
/tests/__pycache__
