/algorithm_dev/.vs
/algorithm_dev/__pycache__
/algorithm_dev/control/.ipynb_checkpoints
/algorithm_dev/control/__pycache__
algorithm_dev/LUCID_TRI032S-M_251700592__20251114112116359_video3.avi
/algorithm_dev/vision/.ipynb_checkpoints
/algorithm_dev/vision/__pycache__
algorithm_dev/vision/LUCID_TRI032S-M_251700592__20251114112116359_video3.avi
/calibrations/.vs
/testing/.vs
/tests/__pycache__
/calibrations
figures/data/multi_fast_simulation_results.csv
figures/data/multi_mix_simulation_results.csv
figures/data/multi_slow_simulation_results.csv
figures/data/single_fast_simulation_results.csv
figures/data/single_slow_simulation_results.csv
figures/fig1_prediction_error.png
figures/fig2_adaptive_horizon.png
figures/fig3_hit_rate.png
figures/fig4_summary_dashboard.png
figures/poster_adaptive_design.pdf
figures/poster_adaptive_horizon.pdf
figures/poster_adaptive_horizon.svg
figures/poster_adaptive_vs_fixed1.pdf
figures/poster_adaptive_vs_fixed1.png
figures/poster_adaptive_vs_fixed1.svg
figures/poster_adaptive_vs_fixed_overall.pdf
figures/poster_adaptive_vs_fixed_overall.svg
figures/poster_hit_rate.pdf
figures/poster_hit_rate.svg
figures/poster_prediction_error.pdf
figures/poster_prediction_error.svg
figures/poster_speed_regime_comparison.pdf
figures/poster_speed_regime_comparison.svg
data_analysis/curated_data_04032026-20260407T192522Z-3-001.zip
data_analysis/curated_data_04032026/np2_t15.jpg
/data_analysis/curated_data_04032026
data_analysis/fly_control.zip
data_analysis/fly_counter.py
data_analysis/fly_YOLO.zip
data_analysis/obj.data
data_analysis/obj.names
data_analysis/obj_train_data/np2_t15.txt
data_analysis/obj_train_data/np2_t1hr.txt
data_analysis/obj_train_data/np2_t30.txt
data_analysis/obj_train_data/np_t15.txt
/data_analysis/obj_train_data
data_analysis/results/fly_counts.csv
/data_analysis/results
data_analysis/train.txt
figures/data/advanced_metrics.csv
figures/data/all_simulations.csv
figures/data/summary_metrics.csv
